1DMO/Assessment/Daniel Hesp - Food Review Backup.zip
1DMO/Assessment/Daniel Hesp - Food Review/
1DMO/Assessment/1DMO Authenticity Statement - Daniel Hesp.jpeg
1DMO/Assessment/Daniel Hesp 91880 Write Up.pdf
1DMO/Assessment/Evidence/
1DMO/Practice/Evidence/
1DMO/Practice/Wireframes/

1Databases/Assessment/Evidence/
1Databases/Practice/Evidence/

1Programming/Practice/01_Lucky_Unicorn/Evidence/
1Programming/Practice/02_Higher_Lower/Evidence/
1Programming/Practice/03_Rock_Paper_Scissors/Evidence/